{{ define "base.html" }}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!--<link rel="icon" type="image/svg+xml" href="/vite.svg">-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="static/styles/minima.css">
		{{ template "head" . }}
	</head>
	<body>
		<header class="header">
			{{ template "header" . }}
		</header>
		<main>
			{{ template "main" . }}
		</main>
		<footer class="footer">
			<div class="row">
				<div class="card">
					<div class="frame transparent">
						<h3>StatsForager</h3>
						<p>Footer blurb here.</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>{{ end }}
