{{ define "head" }}<title>StatsForager.com</title>{{ end }}
{{ define "main" }}<section class="region row">
	<form class="center-self card">
		<div class="frame">
			<h1>We need your email to get started</h1>
			<p>
				<input placeholder="Email" type="email" id="email" name="email" style="width:100%">
			</p>
			<p>
				<button type="submit">Sign Up</button>
			</p>
			<p>
				We will never sell your email address information.
				After registering, check your inbox for a magic link to access your StatsForager dashboard.
			</p>
		</div>
	</form>
</section>{{ end }}

