	<body>
		<header class="header">
			<nav class="nav">
				<a class="button transparent" href="/" hx-get="/" hx-target="body" hx-push-url="true">
					StatsForager</a>
				<a class="button" href="/dashboard" hx-get="/dashboard" hx-target="body" hx-push-url="true">Dashboard</a>
				<a class="button" href="/login" hx-get="#" hx-target="body" hx-push-url="true">Login</a>
				<a class="button" href="/register"hx-get="/register" hx-target="body" hx-push-url="true">Register</a>
			</nav>
		</header>
		<main>
