<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!--<link rel="icon" type="image/svg+xml" href="/todo: make an icon">-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/styles/minima.css">
		<script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
		<script src="/static/scripts/apexcharts.js"></script>
