<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "_tophead.html" . }}
		<title>StatsForager.com -- website analytics. De-google your site.</title>
	</head>
	<body>
		{{ template "_topbody.html" . }}
		<main>
			<section class="masthead">
				<div class="gutter grid-container with-two-columns">
					<h1>Web Analytics Solutions for the Independent Website</h1>
				<p>
						We have great tools that help you run your website. Know when your latest post strikes a chord in your audience, or gets tons of search engine traction.
						StatsForager lets you make informed decisions as you manage your website's content and marketing. No one wants to run their website blind,
						and with big players like Google Web Analytics and Google Tag Manager treating independent websites as just a funnel for their own advertising at best, 
						and at worst as	an inconvenience, StatsForager is here to give you insights into your website traffic without sharing your site's data.
					</p>
				</div>
			</section>
			<section>
				<div class="row">
					<div class="card">
						<div class="frame transparent">
							<h2>Privacy Respecting Web Analytics</h2>
							<p>
								StatsForager collects your website's activity responsibly while respecting your user's privacy. 
								By default, StatsForager collects anonymous user information without using cookies.
							</p>
						</div>
					</div>
					<div class="card">
						<div class="frame transparent">
							<h2>Trustworthy Organic Internet Metrics without Artificial Behemoths like Google Analytics</h2>
							<p>
								Encourage natural and organic traffic growth on your website without sending your data to a big-tech giant who's engaged in anti-competitive practices.
							</p>
						</div>
					</div>
					<div class="card">
						<div class="frame">
							<h2>Actionable Insights Using Web Metrics</h2>
							<p>
								Experience StatsForager's dashboard as it give you data driven insights to help you make informed decisions based on how your site's traffic behaves.
							</p>
							<div class="wrapper-button-calltoaction center-self">
								<a class="button" href="/register">Get Started!</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		{{ template "_bottom.html" . }}
	</body>
</html>
