<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="icon" type="image/svg+xml" href="/vite.svg">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="static/styles/minima.css">
		<title>StatsForager.com</title>
	</head>
	<body>
		<header class="header">
			<nav class="nav">
				<a class="button transparent" href="/">
					StatsForager</a>
				<a class="button" href="#">Login</a>
			</nav>
		</header>
		<main>
			<section class="masthead">
				<div class="gutter">
					<img src="/static/images/ftchart.svg" width="33vw">
					<h1>Web Analytics Solutions for the Independent Website</h1>
					<p>
						We have great tools that help you run your website. Know when your latest post strikes a chord in your audience, or gets tons of search engine traction.
						StatsForager lets you make informed decisions as you manage your website's content and marketing. No one wants to run their website blind,
						and with big players like Google Web Analytics and Google Tag Manager treating independent websites as just a funnel for their own advertising at best, 
						and at worst as	an inconvenience, StatsForager is here to give you insights into your website traffic without sharing your site's data.
					</p>
				</div>
			</section>
			<section>
				<div style="width:40vw;" class="gutter center-self">
					<h2>Minimialist Style Solutions Pair Great With LoJS Web Development</h2>
					<p>
						Rather than bringing in more outside dependencies, <em>prefer fewer dependencies, less complexity, and less tech-debt</em> by using MinimaCSS as your baseline, then modifying it to your needs.
					</p>
				</div>
			</section>
			<section>
				<div class="row">
					<div class="card">
						<div class="frame">
							<img src="imgs/bullseye.svg">
							<h2>Independent Style</h2>
							<p>
								Hard stop circle back that jerk from finance really threw me under the bus, or business impact obviously red flag, so who's the goto on this job with the way forward.
							</p>
						</div>
					</div>
					<div class="card">
						<div class="frame transparent">
							<img src="imgs/mountain.svg">
							<h2><a href="#" class="stretched-link">No Build</a> Required</h2>
							<p>
								Knowledge process outsourcing how much bandwidth do you have. We need to button up our approach one-sheet. Locked and loaded quantity baseline, or sorry I didn't get your email.
							</p>
						</div>
					</div>
					<div class="card">
						<div class="frame">
							<img src="imgs/running.svg">
							<h2>Completely Customizable</h2>
							<p>
								Post launch deploy to production, and can you slack it to me?, or who's the goto on this job with the way forward can you run this by clearance?
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="card">
						<div class="frame transparent">
							<h2>Independent Style</h2>
							<p>
								This is all inside a paragraph tag. Lots of text describing what this is about.
							</p>
						</div>
					</div>
					<div class="card">
						<div class="frame" style="padding:0">
							<div class="gutter">
								<h2>No Build</h2>
								<p>
									This is all inside a paragraph tag. Lots of text describing what this is about.
								</p>
							</div>
							<p>
								<button class="box-button">This is a button tag that fills the space</button>
							</p>
							<a href="#" class="button box-button">This is an anchor tag as a button that fills the space</a>
						</div>
					</div>
					<div class="card">
						<div class="frame transparent">
							<h2>Completely Customizable</h2>
							<p>
								This is all inside a paragraph tag. Lots of text describing what this is about.
							</p>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div style="width:40vw;" class="gutter center-self">
					<h2>Forms</h2>
					<form>
						<p>
							<label for="email">Email Address</label>
							<input type="email" name="email" id="email" placeholder="Email">
						</p>
						<p>
							<label for="email">Disabled Email</label>
							<input disabled type="email" name="email" id="email" placeholder="Email">
						</p>
						<p>
							<label for="password">Password</label>
							<input type="password" name="password" id="password" placeholder="Password">
						</p>
						<p>
							<label for="password">Disabled Password</label>
							<input disabled type="password" name="password" id="password" placeholder="Password">
						</p>
						<p>
							Pick one option
						</p>
						<p>
							<label class="input-button"><input type="radio" name="option" value="1"> Option One</label>
							<label class="input-button"><input type="radio" name="option" value="2"> Option Two</label>
							<label class="input-button"><input type="radio" name="option" value="3"> Option Three</label>
							<label class="input-button"><input type="radio" name="option" value="4"> Option Four</label>
							<label class="input-button"><input type="radio" name="option" value="5"> Option Five</label>
							<label class="input-button"><input disabled type="radio" name="option" value="6"> Disabled Option Six</label>
						</p>
						<p>
							Pick all that apply
						</p>
						<p>
							<label class="input-button"><input type="checkbox" name="checkbox" value="1"> Selection One</label>
							<label class="input-button"><input type="checkbox" name="checkbox" value="2"> Selection Two</label>
							<label class="input-button"><input type="checkbox" name="checkbox" value="3"> Selection Three</label>
							<label class="input-button"><input disabled type="checkbox" name="checkbox" value="4"> Disabled Four</label>
						</p>
						<p>
							Pick on option
						</p>
						<p>
							<select name="dropdown">
								<option value="val1">Value 1</option>
								<option disabled value="val2">Value 2</option>
								<option value="val3">Value 3</option>
							</select>
							<select disabled name="disableddropdown">
								<option value="val1">Disabled Value 1</option>
								<option value="val2">Disabled Value 2</option>
								<option value="val3">Disabled Value 3</option>
							</select>
						</p>
						<p>
							Please describe something
						</p>
						<p>
							<textarea name="description"></textarea>
						<p>
						<p>
							<textarea disabled name="description">Disabled</textarea>
						<p>
							<button type="submit">Submit</button>
							<button type="reset" class="transparent">Clear</button>
						</p>
					</form>
				</div>
			</section>
		</main>
		<footer class="footer">
			<div class="row">
				<div class="card">
					<div class="frame transparent">
						<h3>MinimaCSS</h3>
						<p>MinimaCSS is free software to be duplicated and changed for both personal and commercial use.</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
