{{- $model := .Model -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{- template "_tophead.html" . -}}
		<title>Dashboard</title>
	</head>
	<body>
		{{- template "_topbody.html" . -}}
		<main hx-ext="response-targets">
			<section class="gutter">
				{{- template "_siteForm.html" -}}
				<table id="siteTable">
					<tbody>
					{{- range $model.Sites -}}
					{{- template "_siteRow.html" . -}}
					{{- end -}}
					</tbody>
				</table>
			</section>
		</main>
		{{- template "_bottom.html" . -}}
	</body>
</html>
