{{- $model := .Model -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{- template "_tophead.html" . -}}
		<title>Dashboard</title>
	</head>
	<body>
		{{- template "_topbody.html" . -}}
		<main>
			<section class="gutter">

				<form hx-post="/app/manage/site/save" hx-trigger="submit" hx-target="#siteTable" hx-swap="beforeend">
					<input type="text" name="siteName" placeholder="Site Name" required>
					<input type="text" name="siteDomain" placeholder="Site Domain" required>
					<button type="submit">Submit</button>
				</form>

				<table id="siteTable">
					{{- range $model.Sites -}}
					{{- template "_siteRow.html" . -}}
					{{- end -}}
				</table>
			</section>
		</main>
		{{- template "_bottom.html" . -}}
	</body>
</html>
